.cartContainer {
  padding: 4rem 8rem;
  .cartHeader {
    border-bottom: 2px solid #e0e0e0;
    .cartHeaderText {
      font-size: 3rem;
    }
  }
  .cartTotal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    .totalLabel {
      font-size: 1.5rem;
      font-weight: 600;
    }
    .totalPrice {
      font-size: 1.5rem;
      font-weight: 700;
      color: #18328a;
    }
  }
}
